@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-menu-theme: #2b2b2b;
  --bs-primary: #266a29;
  --bs-secondary: #741222;
  --bs-dark: #2b2b2b;
  --bs-primary-rgb: 38, 106, 41;
  --bs-secondary-rgb: 116, 18, 34;
  --bs-dark-rgb: 43, 43, 43;
}
