:root {

  --bs-primary: #266a29 !important;

  --bs-secondary: #741222 !important;

  --bs-dark: #2b2b2b !important;

  --bs-primary-rgb: 38, 106, 41 !important;

  --bs-secondary-rgb: 116, 18, 34 !important;

  --bs-dark-rgb: 43, 43, 43 !important;

}

/* Override classes */

.bg-primary {

  background-color: #266a29 !important;

}

.text-primary {

  color: #266a29 !important;

}

.btn-primary {

  background-color: #266a29 !important;

  border-color: #266a29 !important;

}

.btn-info {
  background-color: #266a29 !important;

  border-color: #266a29 !important;
}

.bg-secondary {

  background-color: #741222 !important;

}

.text-secondary {

  color: #741222 !important;

}

.btn-secondary {

  background-color: #741222 !important;

  border-color: #741222 !important;

}

.btn-danger {
  background-color: #741222 !important;

  border-color: #741222 !important;
}

.bg-dark {

  background-color: #2b2b2b !important;

}

.text-dark {

  color: #2b2b2b !important;

}

/* Active nav */

.menu-item.active {

  background-color: #266a29 !important;
  border-right: #741222 4px solid !important;

}

.menu-item.active .menu-link {

  background-color: #266a29 !important;

  color: white !important;

}

/* Button variants */

.btn-outline-primary {

  border-color: #266a29 !important;

  color: #266a29 !important;

}

.btn-outline-primary:hover {

  background-color: #266a29 !important;

  color: white !important;

}

.btn-outline-secondary {

  border-color: #741222 !important;

  color: #741222 !important;

}

.btn-outline-secondary:hover {

  background-color: #741222 !important;

  color: white !important;

}

.btn-dark {

  background-color: #2b2b2b !important;

  border-color: #2b2b2b !important;

}

.btn-outline-dark {

  border-color: #2b2b2b !important;

  color: #2b2b2b !important;

}

.btn-outline-dark:hover {

  background-color: #2b2b2b !important;

  color: white !important;

}

.bx-chevron-left:before {

  color: white !important;

}

/* Hover styles */

.btn-primary:hover {

  background-color: #1e4d1f !important;

  border-color: #1e4d1f !important;

}

.btn-secondary:hover {

  background-color: #5a0f1a !important;

  border-color: #5a0f1a !important;

}

.btn-dark:hover {

  background-color: #1a1a1a !important;

  border-color: #1a1a1a !important;

}

.btn-info:hover {

  background-color: #1e4d1f !important;

  border-color: #1e4d1f !important;

}

.btn-danger:hover {

  background-color: #5a0f1a !important;

  border-color: #5a0f1a !important;

}

/* Logo size */

.app-brand.demo .app-brand-logo.demo img {

  height: 40px !important;

}

.bg-menu-theme .menu-inner > .menu-item.active:before{
    background: #741222 !important;
}

.layout-menu-toggle {
    background: #266a29 !important;
}
